# Skrypt wczytujacy dane .xls i zapisujacy je w formie csv
(Wstępne czysczenie danych)

In [57]:
import pandas as pd


df = pd.read_excel("dane-zeliwo-ADI.xls",skiprows=12)

In [58]:
df = df.iloc[:,10:57]

In [59]:
kolumny = [df.columns.str.findall('Unnamed')[i] != ['Unnamed'] for i in range(df.shape[1])]

In [60]:
df = df.loc[:,kolumny]

In [62]:
df.to_csv('dane-zeliwo.csv')

In [64]:
df2 = pd.read_csv('dane-zeliwo.csv',sep = ',')

In [65]:
df2.head()

,Unnamed: 0,Nr źródła,C [%],Si [%],S [%],P [%],Mg [%],Mn [%],Ni [%],Cu [%],...,A5 [%],Twardość Brinella [HB],Twardość Rockwella [HRC],Twardość Rockwella [HRA],Twardość Rockwella [HRB],Twardość Vickersa [HV],Udarność Charpy [J],Temperatura pomiaru udarności [˚C],Udział austenitu %,Martensite volume fraction Xα'
0,0,1,3.4,2.41,0.017,0.015,0.064,0.15,0.001,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.7,NaN
1,1,1,3.4,2.41,0.017,0.015,0.064,0.15,0.001,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.5,NaN
2,2,1,3.4,2.41,0.017,0.015,0.064,0.15,0.001,0.0,...,10.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.0,NaN
3,3,1,3.4,2.41,0.017,0.015,0.064,0.15,0.001,0.0,...,9.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.5,NaN
4,4,1,3.4,2.41,0.017,0.015,0.064,0.15,0.001,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.2,NaN